<div class="post-container">
  <div class="post-area">
    <div class="post-area-left">
      <div>
        <h1><%= @blog.title %></h1>
      </div>
      <div>
        <%= attachment_image_tag @blog, :post_image, fallback: "no_event_image.jpg", size: "250x250" , class: "post-image" %>
      </div>
    </div>
    <div class="post-area-right">
      <div class="post-body">
        <%= safe_join(@blog.body.split("\n"),tag(:br)) %>
      </div>
      <div>
        <%= link_to "Blog一覧へ戻る", blogs_path, class: "input_btn" %>
      </div>
    </div>
  </div>
</div>
