// Place all the styles related to the admins/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//新規投稿画面レイアウト
.post-bg{
  width: 100%;
}

.post-bg:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-image: image-url("bg-img8.jpg");
  background-size:cover;
}

.post-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-area{
  width: 90%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//画面左側レイアウト
.post-area-left{
  width: 50%;
  height: 100%;
  text-align: center;
}

.post-image{
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border: 2px solid rgb(66, 63, 63);
  border-radius: 10px;
}

.post-image-form{
  display: none;
}

.input_btn_admin{
  display: inline-block;
  background-color: #626662;
  box-shadow: 0px 3px #bfbfbf;
  width: 180px;
  height: 30px;
  margin-top: 25px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
}

.input_btn_admin:hover {
  color: rgb(12, 12, 12);
  text-decoration: none;
}

.input_btn_admin:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.post-btn{
  text-align: center;
}

//画面右側レイアウト

.post-area-right{
  width: 50%;
  text-align: center;
}

.post-title{
  width: 80%;
  height: 40px;
  padding: 5px;
}

.post-body{
  width: 80%;
  height: 300px;
  padding: 5px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgb(66, 63, 63);
}

//一覧画面レイアウト

.blog-container{
  width: 100%;
  height: 100vh;
  padding: 30px;
}


.blog-container:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background-image: image-url("bg-img8.jpg");
  background-size:cover;
}

.blog-container-inner{
  width: 100%;
  padding: 20px;
}

.blog-top{
  width: 100%;
  margin-top: 60px;
  text-align: center;
}

.blog-top h1{
  font-size: 50px;
}

.blog-area{
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-box{
  width: 100%;
  height: 280px;
  background-color:rgba(255, 255, 255, 0.73);
  text-align: center;
  border: 2px solid rgb(66, 63, 63);
}

.blog-image{
  width: 100%;
  height: 60%;
}

.blog{
  margin: 10px;
}

.blog-link{
  display: inline-block;
  width: 22%;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
}

.blog-link:nth-child(4n+1){
  margin-left: 0px;
}

.blog-link:nth-child(4n){
  margin-right: 0px;
}

.blog p{
  margin-bottom: 0;
}

.blog-link:hover{
  color: white;
  text-decoration: none;
}

.blog-link2{
  display: inline-block;
  width: 22%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 20px;
}

.blog-link2:nth-child(4n+1){
  margin-left: 0px;
}

.blog-link2:nth-child(4n){
  margin-right: 0px;
}

.blog-link2:hover{
  color: rgb(14, 165, 0);
  text-decoration: none;
}




