<% if event.favorited_by?(current_user) %>
    <p>
      <%= link_to event_favorites_path(event), method: :delete do %>
        <i class="fas fa-heart"></i><%= event.favorites.count %>
      <% end %>
    </p>
<% else %>
    <p>
      <%= link_to event_favorites_path(event), method: :post do %>
        <i class="far fa-heart"></i><%= event.favorites.count %>
      <% end %>
    </p>
<% end %>