<% comments.each do |comment| %>
<tr>
 <td>
   <p><%= attachment_image_tag comment.user, :profile_image, size: '40x40', fallback: "user_sample.jpg" %></p>
   <%= link_to comment.user.name, person_path(comment.user.id) %>
 </td>
 <td>
    <%= comment.comment %>
 </td>
 <td>
    <% if comment.user == current_user %>
    <div>
      <%= link_to "Destroy", event_comment_path(comment.event_id, comment.id), method: :delete %>
    </div>
    <% end %>
 </td>
</tr>
<% end %>