<% if event.favorited_by?(current_user) %>
    <h1>
      <%= link_to event_favorites_path(event), method: :delete, remote:true, class:"heart" do %>
        <i class="fas fa-heart"></i><%= event.favorites.count %>
      <% end %>
    </h1>
<% else %>
    <h1>
      <%= link_to event_favorites_path(event), method: :post, remote:true, class:"no_heart" do %>
        <i class="far fa-heart"></i><%= event.favorites.count %>
      <% end %>
    </h1>
<% end %>