<%= form_with(model:[event, comment], remote: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, class: "event-c-form" %>
  </div>
    <%= f.submit "送信する", class:"input_btn2" %>
<% end %>