<div class="admin-home-container">
  <div class="admin-home-area">
    <%= link_to new_admins_post_path, class: "admin-home-link" do %>
      <div class="admin-home-box">
        <h4>choice</h4>
        <h1>ブログ記事作成</h1>
      </div>
    <% end %>
    <%= link_to admins_posts_path, class: "admin-home-link" do %>
      <div class="admin-home-box">
        <h4>choice</h4>
        <h1>ブログ記事一覧</h1>
      </div>
    <% end %>
    <%= link_to admins_managements_path, class: "admin-home-link" do %>
      <div class="admin-home-box">
        <h4>choice</h4>
        <h1>ユーザー管理</h1>
      </div>
    <% end %>
  </div>
</div>
