// Place all the styles related to the users/favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heart{
  color: rgb(211, 5, 5);
  text-decoration: none;
}

.no_heart{
  color: rgb(40, 229, 94);
  text-decoration: none;
}

.heart:hover{
  color: rgb(40, 229, 94);
  text-decoration: none;
}

.no_heart:hover{
  color: rgb(211, 5, 5);
  text-decoration: none;
}