<% if obj.errors.any? %>
  <div class="error-message" role="alert">
    <% obj.errors.full_messages.each do |message| %>
      <p class="error-message-list">・<%= message %></p>
    <% end %>
  </div>
<% end %>